@mixin flex-valignment() {
  @each $align in $valignment {
    $value: 'center';
    @if ($align == 'align-start') {
      $value: 'flex-start';
    } @else if ($align == 'align-end') {
      $value: 'flex-end';
    }

    &--#{$align} {
      align-items: #{$value};
    }
  }

  @each $align in $valignment {
    @each $breakpoint in map-keys($breakpoints) {
      $value: 'center';
      @if ($align == 'align-start') {
        $value: 'flex-start';
      } @else if ($align == 'align-end') {
        $value: 'flex-end';
      }

      &--#{$align}-#{$breakpoint} {
        @include breakpoint($breakpoint) {
          align-items: #{$value};
        }
      }
    }
  }
}