@use 'common/breakpoints' as *;

.wp-block-parent-theme-shutter-cards {
  container: shutter-cards / inline-size;

  .block-editor-block-list__layout {
    display: grid;
    gap: var(--wp--preset--spacing--20);
    grid-template-columns: 1fr;

    @include container(shutter-cards, lg) {
      grid-template-columns: repeat(10, 1fr);

      // === 4 cards ===
      &:has(> .wp-block-parent-theme-shutter-card:nth-child(4)):not(:has(> .wp-block-parent-theme-shutter-card:nth-child(5))) {
        > .wp-block-parent-theme-shutter-card:nth-child(1) { grid-column: span 4; }
        > .wp-block-parent-theme-shutter-card:nth-child(2) { grid-column: span 6; }
        > .wp-block-parent-theme-shutter-card:nth-child(3) { grid-column: span 6; }
        > .wp-block-parent-theme-shutter-card:nth-child(4) { grid-column: span 4; }
      }

      // === 5 cards ===
      &:has(> .wp-block-parent-theme-shutter-card:nth-child(5)) {
        > .wp-block-parent-theme-shutter-card:nth-child(1) { grid-column: span 3; }
        > .wp-block-parent-theme-shutter-card:nth-child(2) { grid-column: span 4; }
        > .wp-block-parent-theme-shutter-card:nth-child(3) { grid-column: span 3; }
        > .wp-block-parent-theme-shutter-card:nth-child(4) { grid-column: span 6; }
        > .wp-block-parent-theme-shutter-card:nth-child(5) { grid-column: span 4; }
      }
    }
  }
}
