.component-container,
%component-container {
  --bg-color: inherit;
  --color: inherit;

  position: relative;
  color: var(--color);

  &__bg {
    background: var(--bg-color);
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  &__image,
  &__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__image {
    filter: brightness(0.85);
  }

  &--has-bg {
    --color: #{$body-color-inverted};
  }
}