<div class="shutter-cards shutter-cards--preload">
    {% if inner_blocks %}
        {% for inner_block in inner_blocks %}
            {{ inner_block|raw }}
        {% endfor %}
    {% endif %}
</div>
