.ddev
auth.json
TODO.md

.idea
.DS_Store

vendor
!wp-content/themes/*/src/Providers/*/assets/**/vendor

wp
wp-admin
wp-includes
wp-content/index.php
wp-content/themes/twentytwentyfive
wp-content/themes/index.php
license.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
wp-content/plugins
wp-content/uploads
wp-content/debug.log
GEMINI.md