@mixin padding-modifiers() {
  @include default-padding-modifiers;
  @include vpad-modifiers;
  @include hpad-modifiers;
  @include tpad-modifiers;
  @include rpad-modifiers;
  @include bpad-modifiers;
  @include lpad-modifiers;
}

@mixin default-padding-modifiers() {
  @each $size, $value in $sizes {
    &--pad-#{$size} {
      --tpad: #{$value};
      --bpad: #{$value};
      --lpad: #{$value};
      --rpad: #{$value};
    }
  }

  @each $breakpoint in map-keys($breakpoints) {
    @each $size, $value in $sizes {
      &--pad-#{$size}-#{$breakpoint} {
        @include breakpoint($breakpoint) {
          --tpad: #{$value};
          --bpad: #{$value};
          --lpad: #{$value};
          --rpad: #{$value};
        }
      }
    }
  }
}

@mixin vpad-modifiers() {
  @each $size, $value in $sizes {
    &--vpad-#{$size} {
      --tpad: #{$value};
      --bpad: #{$value};
    }
  }

  @each $breakpoint in map-keys($breakpoints) {
    @each $size, $value in $sizes {
      &--vpad-#{$size}-#{$breakpoint} {
        @include breakpoint($breakpoint) {
          --tpad: #{$value};
          --bpad: #{$value};
        }
      }
    }
  }
}

@mixin hpad-modifiers() {
  @each $size, $value in $sizes {
    &--hpad-#{$size} {
      --lpad: #{$value};
      --rpad: #{$value};
    }
  }

  @each $breakpoint in map-keys($breakpoints) {
    @each $size, $value in $sizes {
      &--hpad-#{$size}-#{$breakpoint} {
        @include breakpoint($breakpoint) {
          --lpad: #{$value};
          --rpad: #{$value};
        }
      }
    }
  }
}

@mixin tpad-modifiers() {
  @each $size, $value in $sizes {
    &--tpad-#{$size} {
      --tpad: #{$value};
    }
  }

  @each $breakpoint in map-keys($breakpoints) {
    @each $size, $value in $sizes {
      &--tpad-#{$size}-#{$breakpoint} {
        @include breakpoint($breakpoint) {
          --tpad: #{$value};
        }
      }
    }
  }
}

@mixin rpad-modifiers() {
  @each $size, $value in $sizes {
    &--rpad-#{$size} {
      --rpad: #{$value};
    }
  }

  @each $breakpoint in map-keys($breakpoints) {
    @each $size, $value in $sizes {
      &--rpad-#{$size}-#{$breakpoint} {
        @include breakpoint($breakpoint) {
          --rpad: #{$value};
        }
      }
    }
  }
}

@mixin bpad-modifiers() {
  @each $size, $value in $sizes {
    &--bpad-#{$size} {
      --bpad: #{$value};
    }
  }

  @each $breakpoint in map-keys($breakpoints) {
    @each $size, $value in $sizes {
      &--bpad-#{$size}-#{$breakpoint} {
        @include breakpoint($breakpoint) {
          --bpad: #{$value};
        }
      }
    }
  }
}

@mixin lpad-modifiers() {
  @each $size, $value in $sizes {
    &--lpad-#{$size} {
      --lpad: #{$value};
    }
  }

  @each $breakpoint in map-keys($breakpoints) {
    @each $size, $value in $sizes {
      &--lpad-#{$size}-#{$breakpoint} {
        @include breakpoint($breakpoint) {
          --lpad: #{$value};
        }
      }
    }
  }
}