{% extends "base.twig" %}

{% block content %}
    <div class="error-404">
        <h1>Page Not Found</h1>
        <p>The page you're looking for doesn't exist or has been moved.</p>
        <p><a href="{{ site.url }}">Return to homepage</a></p>
    </div>
{% endblock %}
