{% extends "base.twig" %}

{% block content %}
    <header class="author__header">
        <h1 class="author__title">{{ title }}</h1>
        {% if author.description %}
            <div class="author__bio">{{ author.description }}</div>
        {% endif %}
    </header>

    <div class="posts">
        {% for post in posts %}
            {% include 'tease.twig' %}
        {% else %}
            <p>No posts found.</p>
        {% endfor %}
    </div>

    {% include 'partial/pagination.twig' %}
{% endblock %}
