<header class="site-header">
    <div class="site-header__container">
        <p class="site-header__logo">
            <a href="{{ site.url }}" rel="home">{{ site.name }}</a>
        </p>
        <nav class="site-header__nav" aria-label="Primary navigation">
            {{ function('wp_nav_menu', {
                theme_location: 'primary',
                container: false,
                fallback_cb: false
            }) }}
        </nav>
    </div>
</header>
