{% extends "base.twig" %}

{% block content %}
    <article class="post post--protected">
        <header class="post__header">
            <h1 class="post__title">{{ post.title }}</h1>
        </header>
        <div class="post__content">
            {{ function('get_the_password_form') }}
        </div>
    </article>
{% endblock %}
