.flex-row {
  --component-spacing: #{$layout-spacing};
  --gutter-width: #{$layout-spacing-half};
  --tpad: 0;
  --bpad: 0;
  --lpad: 0;
  --rpad: 0;

  @extend %shared-container;

  margin-bottom: var(--component-spacing);
  padding-left: #{calc($layout-spacing-half / 2)};
  padding-right: #{calc($layout-spacing-half / 2)};

  @include breakpoint-md() {
    padding-left: #{$layout-spacing-half};
    padding-right: #{$layout-spacing-half};
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__bg {
    @extend %shared-container__bg;
  }

  &__video {
    @extend %shared-container__video;
  }

  &__image {
    @extend %shared-container__image;
  }

  &__wrap {
    display: flex;
    flex-flow: row wrap;
    padding: var(--tpad) var(--rpad) var(--bpad) var(--lpad);
    margin: calc(var(--gutter-width) / -2);
  }

  @include color;
  @include flex-halignment;
  @include pad;
  @include vpad;
  @include hpad;

  &--has-bg {
    @extend %shared-container--has-bg;

    > [class*=__wrap] {
      --tpad: #{$layout-spacing};
      --bpad: #{$layout-spacing};
    }

    &.flex-row {
      @include bg-color;
    }
  }
}