.section {
  --component-spacing: #{$layout-spacing};
  --tpad: 0;
  --bpad: 0;
  --lpad: 0;
  --rpad: 0;

  @extend %shared-container;

  margin-bottom: var(--component-spacing);

  @include breakpoint-md() {
    --component-spacing: #{$layout-spacing-double};
  }

  @include bmargin;

  &__bg {
    @extend %shared-container__bg;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, .3);
    }
  }

  &__video {
    @extend %shared-container__video;
  }

  &__image {
    @extend %shared-container__image;
  }

  &__wrap {
    display: grid;
    grid-template-columns: 1fr min(#{$content-max-width}, 100%) 1fr;
    padding: var(--tpad) var(--rpad) var(--bpad) var(--lpad);

    > * {
      grid-column: 2;
    }
  }

  @include color;

  &--has-bg {
    @extend %shared-container--has-bg;

    --tpad: #{$layout-spacing-double};
    --bpad: #{$layout-spacing-double};

    &.section {
      @include bg-color;
      @include pad;
      @include vpad;
      @include hpad;
    }
  }

  &--fluid {
    .section__wrap {
      width: 100%;
      grid-column: 1 / 4;
    }
  }

  article > &:first-child:not(.section--has-bg) {
    margin-top: var(--component-spacing);
  }

  &:last-child {
    margin-bottom: 0;
  }
}