// TODO add breakpoint support
// TODO create flex-abs-center
@mixin flex-halignment() {
  @each $align in $alignment {
    $value: 'center';
    @if ($align == 'align-start') {
      $value: 'flex-start';
    } @else if ($align == 'align-end') {
      $value: 'flex-end';
    }

    &--#{$align} {
      > [class*=__wrap] {
        justify-content: #{$value};
      }
    }
  }
}