@mixin vpad() {
  @each $modifier in $vpad-modifiers {
    @each $size, $value in $sizes {
      &--#{$modifier}-#{$size} {
        --tpad: #{$value};
        --bpad: #{$value};
      }
    }
  }

  @each $modifier in $vpad-modifiers {
    @each $breakpoint in map-keys($breakpoints) {
      &--#{$modifier}-#{$breakpoint} {
        @include breakpoint($breakpoint) {
          @each $size, $value in $sizes {
            &-#{$size} {
              --tpad: #{$value};
              --bpad: #{$value};
            }
          }
        }
      }
    }
  }
}