{% extends "base.twig" %}

{% block content %}
    <div class="projects-archive">
        <h1 class="projects-archive__heading has-70-font-size">Project Showcase</h1>
        {% include 'partials/projects-grid.twig' with { projects: posts } %}
    </div>
{% endblock %}
