<div class="shutter-cards shutter-cards--preload"{% if container_styles %} style="{{ container_styles }}"{% endif %}>
    {% if inner_blocks %}
        {% for inner_block in inner_blocks %}
            {{ inner_block|raw }}
        {% endfor %}
    {% endif %}
</div>
