.wp-block-vincentragosta-shutter-cards {
  border: 1px dashed #ccc;
  padding: 1rem;
  padding-bottom: 0.5rem; // Adjust padding

  // Style our new custom button
  .shutter-cards-appender {
    width: 100%;
    justify-content: center;
    margin-top: 1.5rem;
  }
}