// Editor-only styles for the shutter cards container
.shutter-cards {
  border: 1px dashed var(--wp--preset--color--grey-3);
  padding: var(--wp--preset--spacing--40);
  padding-bottom: var(--wp--preset--spacing--20);
}

.shutter-cards-appender {
  width: 100%;
  justify-content: center;
  margin-top: var(--wp--preset--spacing--50);
}
