h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;

  .text--underline {
    text-underline-offset: 10px;
    text-decoration-thickness: 1px;
    text-decoration-color: var(--wp--preset--color--accent-1);
  }

  strong, b {
    font-family: var(--wp--preset--font-family--roobert);
    font-weight: 500;
  }
}

.is-style-heading--medium {
  font-size: var(--wp--preset--font-size--heading-medium);
}

.is-style-heading--large {
  font-size: var(--wp--preset--font-size--heading-large);
}

.is-style-heading--xlarge {
  font-size: var(--wp--preset--font-size--heading-x-large);
}
