.flex-row {
  @extend %component-container;

  --gutter-width: #{$layout-spacing-half};
  --tpad: 0;
  --bpad: 0;
  --lpad: 0;
  --rpad: 0;

  &__bg {
    @extend %component-container__bg;
  }

  &__video {
    @extend %component-container__video;
  }

  &__image {
    @extend %component-container__image;
  }

  &__wrap {
    display: flex;
    flex-flow: row wrap;
    padding: var(--tpad) var(--rpad) var(--bpad) var(--lpad);
    margin: calc(calc(var(--gutter-width) / 2) * -1);
  }

  @include color;
  @include flex-alignment;
  @include pad;
  @include vpad;
  @include hpad;

  &--has-bg {
    @extend %component-container--has-bg;
    --rpad: #{$layout-spacing-half};
    --lpad: #{$layout-spacing-half};

    &.flex-row {
      @include bg-color;
    }
  }
}