.flex-row {
  @extend %component-container;

  --gap: #{$component-spacing};
  --tpad: 0;
  --bpad: 0;
  --lpad: 0;
  --rpad: 0;

  &__bg {
    @extend %component-container__bg;
  }

  &__video {
    @extend %component-container__video;
  }

  &__image {
    @extend %component-container__image;
  }

  &__wrap {
    //height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: var(--tpad) var(--rpad) var(--bpad) var(--lpad);
    gap: var(--gap);
  }

  @include color;
  @include flex-alignment;
  @include pad;
  @include vpad;
  @include hpad;

  &--has-bg {
    @extend %component-container--has-bg;

    &.flex-row {
      @include bg-color;
    }
  }
}