.grid-col {
  --grid-col-bg-color: '';
  --grid-col-color: '';
  --grid-col-container-padding-y: #{$layout-spacing * 2};
  --grid-col-container-padding-x: calc(#{$component-spacing} / 2);
  --grid-col-margin-bottom: #{$component-spacing};

  position: relative;
  color: var(--grid-col-color);

  &__bg {
    position: absolute;
    inset: 0;
    z-index: -1;
    background: var(--grid-col-bg-color);
  }

  &__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__container {
    padding-left: var(--grid-col-container-padding-x);
    padding-right: var(--grid-col-container-padding-x);

    > * {
      margin-bottom: var(--grid-col-margin-bottom);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &--has-bg {
    --grid-col-color: #{$body-color-inverted};

    &.grid-col {
      &--bg-primary {
        --grid-col-bg-color: #{map-get($colors, 'primary')};
      }

      &--bg-primary-dark {
        --grid-col-bg-color: #{map-get($colors, 'primary-dark')};
      }

      &--bg-primary-light {
        --grid-col-bg-color: #{map-get($colors, 'primary-light')};
      }

      &--bg-secondary {
        --grid-col-bg-color: #{map-get($colors, 'secondary')};
      }

      &--bg-secondary-dark {
        --grid-col-bg-color: #{map-get($colors, 'secondary-dark')};
      }

      &--bg-secondary-light {
        --grid-col-bg-color: #{map-get($colors, 'secondary-light')};
      }

      &--bg-tertiary {
        --grid-col-bg-color: #{map-get($colors, 'tertiary')};
      }

      &--bg-tertiary-dark {
        --grid-col-bg-color: #{map-get($colors, 'tertiary-dark')};
      }

      &--bg-tertiary-light {
        --grid-col-bg-color: #{map-get($colors, 'tertiary-light')};
      }

      &--bg-gray {
        --grid-col-bg-color: #{map-get($colors, 'gray')};
      }

      &--bg-gray-dark {
        --grid-col-bg-color: #{map-get($colors, 'gray-dark')};
      }

      &--bg-gray-light {
        --grid-col-bg-color: #{map-get($colors, 'gray-light')};
      }

      &--bg-off-white {
        --grid-col-bg-color: #{map-get($colors, 'off-white')};
        --grid-col-color: #{$body-color};
      }

      &--bg-white {
        --grid-col-bg-color: #{map-get($colors, 'white')};
        --grid-col-color: #{$body-color};
      }

      &--bg-black {
        --grid-col-bg-color: #{map-get($colors, 'black')};
      }

      &--primary {
        --grid-col-color: #{map-get($colors, 'primary')};
      }

      &--primary-dark {
        --grid-col-color: #{map-get($colors, 'primary-dark')};
      }

      &--primary-light {
        --grid-col-color: #{map-get($colors, 'primary-light')};
      }

      &--secondary {
        --grid-col-color: #{map-get($colors, 'secondary')};
      }

      &--secondary-dark {
        --grid-col-color: #{map-get($colors, 'secondary-dark')};
      }

      &--secondary-light {
        --grid-col-color: #{map-get($colors, 'secondary-light')};
      }

      &--tertiary {
        --grid-col-color: #{map-get($colors, 'tertiary')};
      }

      &--tertiary-dark {
        --grid-col-color: #{map-get($colors, 'tertiary-dark')};
      }

      &--tertiary-light {
        --grid-col-color: #{map-get($colors, 'tertiary-light')};
      }

      &--gray-dark {
        --grid-col-color: #{map-get($colors, 'gray-dark')};
      }

      &--gray {
        --grid-col-color: #{map-get($colors, 'gray')};
      }

      &--gray-light {
        --grid-col-color: #{map-get($colors, 'gray-light')};
      }

      &--off-white {
        --grid-col-color: #{map-get($colors, 'off-white')};
      }

      &--white {
        --grid-col-color: #{map-get($colors, 'white')};
      }

      &--black {
        --grid-col-color: #{map-get($colors, 'black')};
      }
    }

    .grid-col__container {
      padding-top: var(--grid-col-container-padding-y);
      padding-bottom: var(--grid-col-container-padding-y)
    }
  }
}

@mixin grid-columns() {
  &-1 {
    grid-column-start: span 1;
  }

  &-2 {
    grid-column-start: span 2;
  }

  &-3 {
    grid-column-start: span 3;
  }

  &-4 {
    grid-column-start: span 4;
  }

  &-5 {
    grid-column-start: span 5;
  }

  &-6 {
    grid-column-start: span 6;
  }

  &-7 {
    grid-column-start: span 7;
  }

  &-8 {
    grid-column-start: span 8;
  }

  &-9 {
    grid-column-start: span 9;
  }

  &-10 {
    grid-column-start: span 10;
  }

  &-11 {
    grid-column-start: span 11;
  }

  &-12 {
    grid-column-start: span 12;
  }
}

.grid-col {
  @include grid-columns;
  grid-column-start: span 12;

  &-xs {
    @media (min-width: map-get($breakpoints, 'xs')) {
      @include grid-columns;
    }
  }

  &-sm {
    @media (min-width: map-get($breakpoints, 'sm')) {
      @include grid-columns;
    }
  }

  &-md {
    @media (min-width: map-get($breakpoints, 'md')) {
      @include grid-columns;
    }
  }

  &-lg {
    @media (min-width: map-get($breakpoints, 'lg')) {
      @include grid-columns;
    }
  }

  &-xl {
    @media (min-width: map-get($breakpoints, 'xl')) {
      @include grid-columns;
    }
  }

  &--has-offset {
    &.grid-col {
      &-xs-1,
      &-xs-2,
      &-xs-3,
      &-xs-4,
      &-xs-5,
      &-xs-6,
      &-xs-7,
      &-xs-8,
      &-xs-9,
      &-xs-10,
      &-xs-11,
      &-xs-12 {
        @media (min-width: 576px) {
          grid-column-start: var(--grid-col-offset-xs-start);
          grid-column-end: var(--grid-col-offset-xs-end);
        }
      }

      &-sm-1,
      &-sm-2,
      &-sm-3,
      &-sm-4,
      &-sm-5,
      &-sm-6,
      &-sm-7,
      &-sm-8,
      &-sm-9,
      &-sm-10,
      &-sm-11,
      &-sm-12 {
        @media (min-width: 768px) {
          grid-column-start: var(--grid-col-offset-sm-start);
          grid-column-end: var(--grid-col-offset-sm-end);
        }
      }

      &-md-1,
      &-md-2,
      &-md-3,
      &-md-4,
      &-md-5,
      &-md-6,
      &-md-7,
      &-md-8,
      &-md-9,
      &-md-10,
      &-md-11,
      &-md-12 {
        @media (min-width: 992px) {
          grid-column-start: var(--grid-col-offset-md-start);
          grid-column-end: var(--grid-col-offset-md-end);
        }
      }

      &-lg-1,
      &-lg-2,
      &-lg-3,
      &-lg-4,
      &-lg-5,
      &-lg-6,
      &-lg-7,
      &-lg-8,
      &-lg-9,
      &-lg-10,
      &-lg-11,
      &-lg-12 {
        @media (min-width: 1200px) {
          grid-column-start: var(--grid-col-offset-lg-start);
          grid-column-end: var(--grid-col-offset-lg-end);
        }
      }

      &-xl-1,
      &-xl-2,
      &-xl-3,
      &-xl-4,
      &-xl-5,
      &-xl-6,
      &-xl-7,
      &-xl-8,
      &-xl-9,
      &-xl-10,
      &-xl-11,
      &-xl-12 {
        @media (min-width: 1400px) {
          grid-column-start: var(--grid-col-offset-xl-start);
          grid-column-end: var(--grid-col-offset-xl-end);
        }
      }

      &-offset {
        &-xs-1,
        &-xs-2,
        &-xs-3,
        &-xs-4,
        &-xs-5,
        &-xs-6,
        &-xs-7,
        &-xs-8,
        &-xs-9,
        &-xs-10,
        &-xs-11,
        &-xs-12 {
          @media (min-width: 576px) {
            grid-column-start: var(--grid-col-breakpoint-offset-xs-start);
          }
        }

        &-sm-1,
        &-sm-2,
        &-sm-3,
        &-sm-4,
        &-sm-5,
        &-sm-6,
        &-sm-7,
        &-sm-8,
        &-sm-9,
        &-sm-10,
        &-sm-11,
        &-sm-12 {
          @media (min-width: 768px) {
            grid-column-start: var(--grid-col-breakpoint-offset-sm-start);
          }
        }

        &-md-1,
        &-md-2,
        &-md-3,
        &-md-4,
        &-md-5,
        &-md-6,
        &-md-7,
        &-md-8,
        &-md-9,
        &-md-10,
        &-md-11,
        &-md-12 {
          @media (min-width: 992px) {
            grid-column-start: var(--grid-col-breakpoint-offset-md-start);
          }
        }

        &-lg-1,
        &-lg-2,
        &-lg-3,
        &-lg-4,
        &-lg-5,
        &-lg-6,
        &-lg-7,
        &-lg-8,
        &-lg-9,
        &-lg-10,
        &-lg-11,
        &-lg-12 {
          @media (min-width: 1200px) {
            grid-column-start: var(--grid-col-breakpoint-offset-lg-start);
          }
        }

        &-xl-1,
        &-xl-2,
        &-xl-3,
        &-xl-4,
        &-xl-5,
        &-xl-6,
        &-xl-7,
        &-xl-8,
        &-xl-9,
        &-xl-10,
        &-xl-11,
        &-xl-12 {
          @media (min-width: 1400px) {
            grid-column-start: var(--grid-col-breakpoint-offset-xl-start);
          }
        }
      }
    }
  }
}