.grid {
  --columns: #{$grid-columns};
  --column-width: #{$grid-column-width};
  --row-width: #{$grid-row-width};

  display: grid;
  grid-template-columns: repeat(var(--columns), var(--column-width));
  grid-template-rows: var(--row-width);



  //grid-auto-flow: column;
  column-gap: #{$component-spacing};
  row-gap: #{calc(#{$layout-spacing} * 2)};
  justify-content: center; /* Center the columns horizontally */
}