.section {
  --bg-tpad: #{calc($layout-spacing * 2)};
  --bg-bpad: #{calc($layout-spacing * 2)};

  @extend %component-container;
  @include color;
  @include alignment;

  &__bg {
    @extend %component-container__bg;
  }

  &__video {
    @extend %component-container__video;
  }

  &__image {
    @extend %component-container__image;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr min(#{$content-max-width}, 100%) 1fr;
    padding-top: var(--bg-tpad);
    padding-bottom: var(--bg-bpad);

    > * {
      grid-column: 2;
    }
  }

  &--has-bg {
    @extend %component-container--has-bg;

    &.section {
      @include bg-color;
      @include vpad;
    }
  }

  &--fluid {
    .section__container {
      width: 100%;
      grid-column: 1 / 4;
    }
  }
}