.section {
  @extend %component-container;

  --tpad: #{calc($layout-spacing * 2)};
  --bpad: #{calc($layout-spacing * 2)};
  --lpad: 0;
  --rpad: 0;

  &__bg {
    @extend %component-container__bg;
  }

  &__video {
    @extend %component-container__video;
  }

  &__image {
    @extend %component-container__image;
  }

  // TODO consider padding horizontal padding to container?
  &__container {
    display: grid;
    grid-template-columns: 1fr min(#{$content-max-width}, 100%) 1fr;
    padding: var(--tpad) var(--rpad) var(--bpad) var(--lpad);

    > * {
      grid-column: 2;
    }
  }

  @include color;
  @include pad;
  @include vpad;
  @include hpad;

  &--has-bg {
    @extend %component-container--has-bg;

    &.section {
      @include bg-color;
    }
  }

  //&--align-start .section__container {
  //  text-align: left;
  //}
  //
  //&--align-center .section__container {
  //  text-align: center;
  //}
  //
  //&--align-end .section__container {
  //  text-align: right;
  //}

  &--fluid {
    .section__container {
      width: 100%;
      grid-column: 1 / 4;
    }
  }
}