{% extends "base.twig" %}

{% block content %}
    <div class="posts">
        {% for post in posts %}
            {% include 'tease.twig' %}
        {% else %}
            <p>No posts found.</p>
        {% endfor %}
    </div>

    {% include 'partial/pagination.twig' %}
{% endblock %}
