@mixin pad() {
  @each $size, $value in $sizes {
    &--pad-#{$size} {
      --tpad: #{$value};
      --bpad: #{$value};
      --lpad: #{$value};
      --rpad: #{$value};
    }
  }

  @each $breakpoint in map-keys($breakpoints) {
    &--pad-#{$breakpoint} {
      @include breakpoint($breakpoint) {
        @each $size, $value in $sizes {
          &-#{$size} {
            --tpad: #{$value};
            --bpad: #{$value};
            --lpad: #{$value};
            --rpad: #{$value};
          }
        }
      }
    }
  }
}