// Defaults

.button {
  --button-padding-x: #{$button-padding-x};
  --button-padding-y: #{$button-padding-y};
  --button-font-size-min: #{$button-font-size-min};
  --button-font-size-max: #{$button-font-size-max};
  --button-font-weight: #{$button-font-weight};
  --button-color: #{$button-color};
  --button-text-decoration: #{$button-text-decoration};
  --button-border-color: #{$button-border-color};
  --button-bg: #{$button-bg};

  color: var(--button-color);
  background: var(--button-bg);
  border-color: var(--button-border-color);
  font-weight: var(--button-font-weight);
  padding: var(--button-padding-y) var(--button-padding-x);
  text-decoration: var(--button-text-decoration);
  font-family: $button-font-family;
  line-height: $button-line-height;
  border-width: $button-border-width;
  border-style: $button-border-style;
  border-radius: $button-border-radius;
  box-shadow: $button-box-shadow;
  transition: $button-transition;
  text-transform: $button-text-transform;
  align-items: $button-align-items;

  display: inline-flex;
  overflow: hidden;
  position: relative;

  font-size: var(--button-font-size-min);
  @media (min-width: map-get($breakpoints, 'md')) {
    font-size: var(--button-font-size-max);
  }

  &[disabled] {
    cursor: wait;
    opacity: $button-disabled-opacity;
  }

  &__slot {
    display: flex;

    &--left {
      svg {
        margin-right: calc(var(--button-padding-x) / 2);
      }
    }

    &--right {
      svg {
        margin-left: calc(var(--button-padding-x) / 2);
      }
    }
  }

  &--primary {
    --button-color: #{$body-color-inverted};
    --button-bg: #{map-get($colors, 'primary')};
    --button-border-color: #{map-get($colors, 'primary')};

    &:hover {
      --button-bg: #{map-get($colors, 'primary-dark')};
      --button-border-color: #{map-get($colors, 'primary-dark')};
    }
  }

  &--primary-dark {
    --button-color: #{$body-color-inverted};
    --button-bg: #{map-get($colors, 'primary-dark')};
    --button-border-color: #{map-get($colors, 'primary-dark')};

    &:not(.button--outline):not(.button--ghost):hover {
      --button-bg: #{lighten(map-get($colors, 'primary-dark'), 5)};
    }
  }

  &--primary-light {
    --button-color: #{$body-color-inverted};
    --button-bg: #{map-get($colors, 'primary-light')};
    --button-border-color: #{map-get($colors, 'primary-light')};

    &:not(.button--outline):not(.button--ghost):hover {
      --button-bg: #{lighten(map-get($colors, 'primary-light'), 5)};
    }
  }

  &--secondary {
    --button-color: #{$body-color-inverted};
    --button-bg: #{map-get($colors, 'secondary')};
    --button-border-color: #{map-get($colors, 'secondary')};

    &:not(.button--outline):not(.button--ghost):hover {
      --button-bg: #{lighten(map-get($colors, 'secondary'), 5)};
    }
  }

  &--secondary-dark {
    --button-color: #{$body-color-inverted};
    --button-bg: #{map-get($colors, 'secondary-dark')};
    --button-border-color: #{map-get($colors, 'secondary-dark')};

    &:not(.button--outline):not(.button--ghost):hover {
      --button-bg: #{lighten(map-get($colors, 'secondary-dark'), 5)};
    }
  }

  &--secondary-light {
    --button-color: #{$body-color-inverted};
    --button-bg: #{map-get($colors, 'secondary-light')};
    --button-border-color: #{map-get($colors, 'secondary-light')};

    &:not(.button--outline):not(.button--ghost):hover {
      --button-bg: #{lighten(map-get($colors, 'secondary-light'), 5)};
    }
  }

  &--tertiary {
    --button-color: #{$body-color-inverted};
    --button-bg: #{map-get($colors, 'tertiary')};
    --button-border-color: #{map-get($colors, 'tertiary')};

    &:not(.button--outline):not(.button--ghost):hover {
      --button-bg: #{lighten(map-get($colors, 'tertiary'), 5)};
    }
  }

  &--tertiary-dark {
    --button-color: #{$body-color-inverted};
    --button-bg: #{map-get($colors, 'tertiary-dark')};
    --button-border-color: #{map-get($colors, 'tertiary-dark')};

    &:not(.button--outline):not(.button--ghost):hover {
      --button-bg: #{lighten(map-get($colors, 'tertiary-dark'), 5)};
    }
  }

  &--tertiary-light {
    --button-color: #{$body-color-inverted};
    --button-bg: #{map-get($colors, 'tertiary-light')};
    --button-border-color: #{map-get($colors, 'tertiary-light')};

    &:not(.button--outline):not(.button--ghost):hover {
      --button-bg: #{lighten(map-get($colors, 'tertiary-light'), 5)};
    }
  }

  &--gray {
    --button-color: #{$body-color-inverted};
    --button-bg: #{map-get($colors, 'gray')};
    --button-border-color: #{map-get($colors, 'gray')};

    &:not(.button--outline):not(.button--ghost):hover {
      --button-bg: #{lighten(map-get($colors, 'gray'), 5)};
    }
  }

  &--gray-dark {
    --button-color: #{$body-color-inverted};
    --button-bg: #{map-get($colors, 'gray-dark')};
    --button-border-color: #{map-get($colors, 'gray-dark')};

    &:not(.button--outline):not(.button--ghost):hover {
      --button-bg: #{lighten(map-get($colors, 'gray-dark'), 5)};
    }
  }

  &--gray-light {
    --button-color: #{$body-color-inverted};
    --button-bg: #{map-get($colors, 'gray-light')};
    --button-border-color: #{map-get($colors, 'gray-light')};

    &:not(.button--outline):not(.button--ghost):hover {
      --button-bg: #{lighten(map-get($colors, 'gray-light'), 5)};
    }
  }

  &--off-white {
    --button-bg: #{map-get($colors, 'off-white')};
    --button-border-color: #{map-get($colors, 'off-white')};

    &:not(.button--outline):not(.button--ghost) {
      --button-color: #{map-get($colors, 'primary')};

      &:hover {
        --button-color: #{map-get($colors, 'off-white')};
        --button-bg: #{map-get($colors, 'primary-dark')};
        --button-border-color: #{map-get($colors, 'primary-dark')};
      }
    }
  }

  &--white {
    --button-bg: #{map-get($colors, 'white')};
    --button-border-color: #{map-get($colors, 'white')};

    &:not(.button--outline):not(.button--ghost) {
      --button-color: #{map-get($colors, 'primary')};

      &:hover {
        --button-color: #{map-get($colors, 'white')};
        --button-bg: #{map-get($colors, 'primary-dark')};
        --button-border-color: #{map-get($colors, 'primary-dark')};
      }
    }
  }

  &--black {
    --button-color: #{$body-color-inverted};
    --button-bg: #{map-get($colors, 'black')};
    --button-border-color: #{map-get($colors, 'black')};

    &:not(.button--outline):not(.button--ghost):hover {
      --button-color: #{$body-color};
      --button-bg: #{$body-color-inverted};
      --button-border-color: #{$body-color-inverted};
    }
  }

  &--outline,
  &--ghost {
    --button-color: inherit;

    &:not(:hover) {
      --button-bg: transparent;
    }

    &:hover {
      --button-color: #{$body-color-inverted};
    }

    &.button--off-white,
    &.button--white {
      &:hover {
        --button-color: #{map-get($colors, 'primary')};
      }
    }
  }

  &--ghost {
    --button-border-color: transparent;
  }
}