a {
  --link-color: #{$link-color};
  --link-text-decoration: underline;

  color: var(--link-color);
  text-decoration: var(--link-text-decoration);

  &:hover {
    --link-color: #{lighten($link-color, 5)};
    --link-text-decoration: underline;
  }
}