a {
  --link-color: #{$link-color};
  --link-text-decoration: #{$link-decoration};
  --link-text-decoration-hover: #{$link-decoration-hover};

  color: var(--link-color);
  text-decoration: var(--link-text-decoration);

  &:hover {
    --link-text-decoration: var(--link-text-decoration-hover);
  }
}