.content-wrapper > article > * {
  padding-left: var(--wp--style--root--padding-left);
  padding-right: var(--wp--style--root--padding-right);
  margin-bottom: var(--wp--custom--spacing--margin-bottom);
}