// Breakpoints
$mobile-breakpoint: 768px;
$desktop-breakpoint: 1440px;
$viewport-range: $desktop-breakpoint - $mobile-breakpoint;

// Static padding values
$padding-min: 16px;
$padding-max: 60px;

// Static margin values
$margin-min: 120px;
$margin-max: 200px;