// Global underline styling
// - <u> element
// - WordPress inline style from Cmd+U shortcut (!important needed to override inline styles)
u,
[style*="text-decoration: underline"] {
  text-decoration-line: underline !important;
  text-decoration-color: var(--wp--preset--color--accent-1) !important;
  text-decoration-thickness: 2px !important;
  text-underline-offset: 10px !important;
}
