$body-line-height: 1.5;
$body-font-weight: 300;
$body-font-family: 'Figtree', sans-serif;
$body-border-radius: 0;

$body-font-size: 1em;
$body-color: color('gray');
$body-color-inverted: color('white');
$body-bg: color('off-white');
