$button-padding-x: calc($component-spacing / 2);
$button-padding-y: calc($component-spacing / 3);
$button-font-family: $body-font-family;
$button-font-size-min: $body-font-size;
$button-font-size-max: $body-font-size;
$button-font-weight: $body-font-weight;
$button-line-height: $body-line-height;
$button-color: inherit;
$button-bg: inherit;
$button-border-width: 1px;
$button-border-style: solid;
$button-border-color: inherit;
$button-border-radius: $body-border-radius;
$button-box-shadow: none;
$button-disabled-opacity: 0.65;
$button-text-transform: none;
$button-text-decoration: none;
$button-transition: background 0.25s ease-in-out, color 0.25s ease-in-out, border-color 0.25s ease-in-out;
$button-align-items: center;