$heading-color: inherit;
$heading-font-family: 'Source Sans 3', sans-serif;
$heading-breakpoint: 'sm';
$heading-font-weight: 400;
$heading-line-height: 1;

$heading-font-size-min: em(28);
$heading-font-size-max: em(28);
$heading-font-size-medium-min: em(36);
$heading-font-size-medium-max: em(36);
$heading-font-size-large-min: em(56);
$heading-font-size-large-max: em(56);
$heading-font-size-xlarge-min: em(96);
$heading-font-size-xlarge-max: em(96);