$alignment: ('align-start', 'align-center', 'align-end');
$valignment: ('valign-start', 'valign-center', 'valign-end');

$vpad-modifiers: ('vpad', 'tpad', 'bpad');
$hpad-modifiers: ('hpad', 'lpad', 'rpad');