body {
  ::selection {
    background-color: var(--wp--preset--color--accent-1);
    color: var(--wp--preset--color--contrast);
  }
}

.light-mode ::selection {
  color: var(--wp--preset--color--base);
}
