@use '../common/breakpoints' as *;

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;

  &.fade-up {
    opacity: 0;
    transform: translateY(1.5rem);
  }

  &.fade-up.is-visible {
    animation: fade-up 0.6s ease-out forwards;
  }

  strong, b {
    font-family: var(--wp--preset--font-family--roobert);
    font-weight: 700;
  }
}

@include reduced-motion {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &.fade-up {
      opacity: 1;
      transform: none;
    }

    &.fade-up.is-visible {
      animation: none;
    }
  }
}
