// Defaults

$breakpoints: (
        'xs': 576px,
        'sm': 768px,
        'md': 992px,
        'lg': 1200px,
        'xl': 1400px
) !default;

$colors: (
        'primary': '',
        'secondary': '',
        'gray-dark': '',
        'gray': '',
        'gray-light': '',
        'black': '',
        'off-white': '',
        'white': ''
) !default;

// Spacing

$layout-spacing: 50px !default;
$component-spacing: calc($layout-spacing / 2) !default;

// Body

$body-line-height: 1.5 !default;
$body-font-weight: 300 !default;
$body-font-size: 18px !default;
$body-font-family: sans-serif !default;
$body-color: map-get($colors, 'black') !default;
$body-bg: map-get($colors, 'white') !default;
$body-border-radius: 0 !default;

// Buttons

$button-padding-x: calc($component-spacing / 3) !default;
$button-padding-y: calc($component-spacing / 2) !default;
$button-font-family: $body-font-family !default;
$button-font-size: 16px !default;
$button-font-weight: $body-font-weight !default;
$button-line-height: $body-line-height !default;
$button-color: map-get($colors, 'white') !default;
$button-bg: map-get($colors, 'primary') !default;
$button-border-width: 1px !default;
$button-border-style: solid !default;
$button-border-color: map-get($colors, 'primary') !default;
$button-border-radius: $body-border-radius !default;
$button-disabled-opacity: 0.65 !default;
$button-text-transform: uppercase !default;
$button-text-decoration: none !default;
$button-transition: background 0.25s ease-in-out, color 0.25s ease-in-out !default;

// Grid

$grid-columns: 12 !default;
$grid-column-width: 1fr !default;
$grid-auto-rows: 1fr !default;

// Misc

$content-max-width: map-get($breakpoints, 'lg') !default;