body {
  --header-height: 0;

  --body-line-height: #{$body-line-height};
  --body-font-weight: #{$body-font-weight};
  --body-font-size: #{$body-font-size};
  --body-font-family: #{$body-font-family};
  --body-color: #{$body-color};
  --body-bg: #{$body-bg};
  --body-border-radius: #{$body-border-radius};

  background: var(--body-bg);
  color: var(--body-color);
  font-family: var(--body-font-family);
  line-height: var(--body-line-height);
  margin: 0;

  //
  letter-spacing: 1px;
}