// Defaults

$breakpoint-xs: 576px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1400px;

$breakpoints: (
        'xs': $breakpoint-xs,
        'sm': $breakpoint-sm,
        'md': $breakpoint-md,
        'lg': $breakpoint-lg,
        'xl': $breakpoint-xl
);

$color-primary: #456ebf;
$color-primary-dark: darken($color-primary, 10);
$color-primary-light: lighten($color-primary, 10);
$color-secondary: #ed3636;
$color-secondary-dark: darken($color-secondary, 10);
$color-secondary-light: lighten($color-secondary, 10);
$color-tertiary: #d843d1;
$color-tertiary-dark: darken($color-tertiary, 10);
$color-tertiary-light: lighten($color-tertiary, 10);
$color-gray: #303030;
$color-gray-dark: #666666; // default darken($color-gray, 50%);
$color-gray-light: #cccccc; // default lighten($color-gray, 50%);
$color-off-white: #f5f5f5; // default darken($color-white, 50%);
$color-white: #ffffff;
$color-black: #000000;

$colors: (
        'primary': $color-primary,
        'primary-dark': $color-primary-dark,
        'primary-light': $color-primary-light,
        'secondary': $color-secondary,
        'secondary-dark': $color-secondary-dark,
        'secondary-light': $color-secondary-light,
        'tertiary': $color-tertiary,
        'tertiary-dark': $color-tertiary-dark,
        'tertiary-light': $color-tertiary-light,
        'gray': $color-gray,
        'gray-dark': $color-gray-dark,
        'gray-light': $color-gray-light,
        'off-white': $color-off-white,
        'white': $color-white,
        'black': $color-black,
);

// Spacing

$layout-spacing: 50px;
$component-spacing: calc($layout-spacing / 2);

// Body

$body-line-height: 1.5;
$body-font-weight: 300;
$body-font-size: 16px;
//$body-font-family: sans-serif;
$body-font-family: 'Figtree', sans-serif;
//$body-color: map-get($colors, 'black');
$body-color: map-get($colors, 'gray');
$body-color-inverted: map-get($colors, 'white');
//$body-bg: map-get($colors, 'white');
$body-bg: map-get($colors, 'off-white');
$body-border-radius: 0;

// Links

$link-color: map-get($colors, 'primary');

// Headings

$heading-color: inherit;
$heading-font-family: 'Source Sans 3', sans-serif;
$heading-breakpoint: 'sm';
$heading-font-weight: 400;
$heading-line-height: 1;
$heading-font-size-min: 28px;
$heading-font-size-max: 28px;
$heading-font-size-medium-min: 36px;
$heading-font-size-medium-max: 56px;
$heading-font-size-large-min: 36px;
$heading-font-size-large-max: 56px;
$heading-font-size-xlarge-min: 96px;
$heading-font-size-xlarge-max: 96px;

// Buttons

$button-padding-x: calc($component-spacing / 2);
$button-padding-y: calc($component-spacing / 3);
$button-font-family: $body-font-family;
$button-font-size-min: $body-font-size;
$button-font-size-max: $body-font-size;
$button-font-weight: $body-font-weight;
$button-line-height: $body-line-height;
$button-color: inherit;
$button-bg: inherit;
$button-border-width: 1px;
$button-border-style: solid;
$button-border-color: inherit;
$button-border-radius: $body-border-radius;
$button-box-shadow: none;
$button-disabled-opacity: 0.65;
$button-text-transform: none;
$button-text-decoration: none;
$button-transition: background 0.25s ease-in-out, color 0.25s ease-in-out, border-color 0.25s ease-in-out;
$button-align-items: center;

// Section
$section-padding-y: calc(#{$layout-spacing} * 2);

// Grid

$grid-columns: 12;
$grid-column-width: 1fr;
$grid-auto-rows: 1fr;

// Misc

$content-max-width: map-get($breakpoints, 'lg');

// Header
$header-padding-y: $component-spacing;
$header-padding-x: $component-spacing;
$header-active-color: $body-color-inverted;
$header-font-size: 13px;
$header-bg: map-get($colors, 'black');
$header-color: map-get($colors, 'gray-light');