@import '@/assets/styles/common/variables/breakpoints.scss';
@import '@/assets/styles/common/variables/colors.scss';
@import '@/assets/styles/common/variables/spacing.scss';
@import '@/assets/styles/common/variables/shared-container.scss';
@import '@/assets/styles/common/variables/body.scss';
@import '@/assets/styles/common/variables/headings.scss';
@import '@/assets/styles/common/variables/buttons.scss';
@import '@/assets/styles/common/variables/grid.scss';
@import '@/assets/styles/common/variables/header.scss';
@import '@/assets/styles/common/variables/links.scss';

$root-font-size: 100%;