@mixin flex-halignment() {
  @each $align in $alignment {
    $value: 'center';
    @if ($align == 'align-start') {
      $value: 'flex-start';
    } @else if ($align == 'align-end') {
      $value: 'flex-end';
    }

    &--#{$align} {
      > [class*=__wrap] {
        justify-content: #{$value};
      }
    }
  }

  @each $align in $alignment {
    @each $breakpoint in map-keys($breakpoints) {
      $value: 'center';
      @if ($align == 'align-start') {
        $value: 'flex-start';
      } @else if ($align == 'align-end') {
        $value: 'flex-end';
      }

      &--#{$align}-#{$breakpoint} {
        @include breakpoint($breakpoint) {
          > [class*=__wrap] {
            justify-content: #{$value};
          }
        }
      }
    }
  }
}