$hpad-sizes: (
        'none': 0,
        'half': calc($layout-spacing * .5),
        'default': $layout-spacing,
        'double': calc($layout-spacing * 2),
        'triple': calc($layout-spacing * 3),
        'quadruple': calc($layout-spacing * 4)
);

$hpad-modifiers: ('hpad', 'lpad', 'rpad');

@mixin hpad() {
  @each $modifier in $hpad-modifiers {
    @each $size, $value in $hpad-sizes {
      &--#{$modifier}-#{$size} {
        --lpad: #{$value};
        --rpad: #{$value};
      }
    }
  }

  @each $modifier in $hpad-modifiers {
    @each $breakpoint in map-keys($breakpoints) {
      &--#{$modifier}-#{$breakpoint} {
        @include breakpoint($breakpoint) {
          @each $size, $value in $hpad-sizes {
            &-#{$size} {
              --lpad: #{$value};
              --rpad: #{$value};
            }
          }
        }
      }
    }
  }
}