@mixin vborder() {
  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 75%;
    z-index: 5;
    border-top: 8px solid var(--vborder-color);
  }

  &:before {
    top: -4px;
    right: 0;
    border-left: 10px solid transparent;
  }

  &:after {
    bottom: -4px;
    left: 0;
    border-right: 10px solid transparent;
  }
}