$vpad-sizes: (
        'none': 0,
        'half': calc($layout-spacing * .5),
        'default': $layout-spacing,
        'double': calc($layout-spacing * 2),
        'triple': calc($layout-spacing * 3),
        'quadruple': calc($layout-spacing * 4)
);

$vpad-modifiers: ('vpad', 'tpad', 'bpad');

@mixin vpad() {
  @each $modifier in $vpad-modifiers {
    @each $size, $value in $vpad-sizes {
      &--#{$modifier}-#{$size} {
        --bg-tpad: #{$value};
        --bg-bpad: #{$value};
      }
    }
  }

  @each $modifier in $vpad-modifiers {
    @each $breakpoint in map-keys($breakpoints) {
      &--#{$modifier}-#{$breakpoint} {
        @include breakpoint($breakpoint) {
          @each $size, $value in $vpad-sizes {
            &-#{$size} {
              --bg-tpad: #{$value};
              --bg-bpad: #{$value};
            }
          }
        }
      }
    }
  }
}